body {
	color: whitesmoke;
	background: linear-gradient(slategray, steelblue);
	font-family: sans-serif;
  margin: 8px;
  display: block;
}

.funParagraph {
  color: green;
  visibility: hidden;
  height: 0px;
  width:0px;
  margin: 0px;
  padding: 0px;
}

#mainHeading {
  color: red;
  visibility: hidden;
  height: 0px;
  width:0px;
  margin: 0px;
  padding: 0px;
}

nav {
	text-align: center;
	background-color: rgb(53, 99, 136);
	background-blend-mode: hue;
}
#header {
	background-color: rgb(53, 99, 136);
	background-repeat: no-repeat;
	background-position: top right;
	text-align: left;
	padding: 3% 0 6% 6%;
	border-radius: 0 0 0 60px;
}

#tiny {
	font-size: 0.5rem;
}

.img-by {
	font-size: 0.75rem;
	text-align: right;
}
#bg-img {
  display: inline-block;
	opacity: 20%;
}

#golfRulez {
	height: 30%;
	width: 30%;
}
